[x-cloak] {
    display: none !important;
}
:focus-visible {
    outline: none;
}
.consult-dock{
    max-height: 600px;
    overflow-y: auto;
}
.slanted-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20%;
    background: linear-gradient(to bottom right, #E6EDF4 50%, transparent 50%);
    z-index: 0;
}
#mod-login form > p{
    margin-bottom: 16px;
}
.consult-message ul{
    list-style-type: disc;
    margin-left: 20px;
}
/* Data Tables */
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate, table.dataTable td.dataTables_empty {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    color: #647280;
}
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter{
    margin-bottom: 1rem;
}
table.dataTable thead th, table.dataTable thead td{
    padding: 1rem 8px;
    border-bottom: 1px solid rgb(229, 231, 235);
}
table.dataTable.no-footer {
    border-bottom: 1px solid rgb(229, 231, 235);
}
.dataTables_wrapper .dataTables_filter input {
    border: 1px solid rgb(229, 231, 235);
    background-color: white;
}
.dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate{
    padding-top: 1rem;
}
.dataTables_wrapper .dataTables_length select {
    border: 1px solid rgb(229, 231, 235);
    background-color: white;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody{
    border-bottom: 1px solid #eaeaea;
}
/* Data Tables End */
/* Gravity Forms */
.gform_wrapper.gravity-theme .gf_progressbar_title {
    display: none;
}
.gform_wrapper.gravity-theme .gf_progressbar_percentage{
    height: 40px !important;
}
.gform_wrapper.gravity-theme .gf_progressbar_percentage span{
    line-height: 40px !important;
    font-weight: 700;
}
.gform_wrapper.gravity-theme .gfield_label{
    font-size: 0.75rem !important;
    line-height: 1rem;
    color: #445F82 !important;
}
.gform_wrapper.gravity-theme .gfield_html{
    color: #647280;
    padding: 1rem;
    border: 1px solid #e5e7eb;
    background: #F6F6FA;
    border-radius: .25rem;
}
.gform_wrapper.gravity-theme input[type="text"], 
.gform_wrapper.gravity-theme input[type="tel"]{
    border: 1px solid #e5e7eb;
    border-radius: .25rem;
    color: #647280;
    transition: all 0.2s ease-in-out;
}
.gform_wrapper.gravity-theme input[type="text"]:hover, .gform_wrapper.gravity-theme input[type="text"]:focus,
.gform_wrapper.gravity-theme input[type="tel"]:hover, .gform_wrapper.gravity-theme input[type="tel"]:focus{
    border: 1px solid rgb(156, 163, 175);
}
.gform_wrapper.gravity-theme input[type="text"]:focus-visible,
.gform_wrapper.gravity-theme input[type="tel"]:focus-visible {
    outline: none;
}
.gform_wrapper.gravity-theme .gform_footer input,
.gform_wrapper.gravity-theme .gform_footer button,
.gform_wrapper.gravity-theme .gform_page_footer input,
.gform_wrapper.gravity-theme .gform_page_footer button {
    border: 1px solid #e5e7eb;
    border-radius: .25rem;
    padding: .75rem 1.5rem;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #19468f;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
}
.gform_wrapper.gravity-theme .gform_footer input:hover,
.gform_wrapper.gravity-theme .gform_footer button:hover,
.gform_wrapper.gravity-theme .gform_page_footer input:hover,
.gform_wrapper.gravity-theme .gform_page_footer button:hover, 
.gform_wrapper.gravity-theme .gform_footer input:focus,
.gform_wrapper.gravity-theme .gform_footer button:focus,
.gform_wrapper.gravity-theme .gform_page_footer input:focus,
.gform_wrapper.gravity-theme .gform_page_footer button:focus {
    border: 1px solid rgb(156, 163, 175);
}
.gform_wrapper.gravity-theme .gform_footer input[type=submit],
.gform_wrapper.gravity-theme .gform_page_footer input[type=submit]{
  background-color: #4c9f45;
  color: #fff;
  border: 1px solid #4c9f45;
}
.gform_wrapper.gravity-theme .gform_footer input[type=submit]:hover,
.gform_wrapper.gravity-theme .gform_page_footer input[type=submit]:hover,
.gform_wrapper.gravity-theme .gform_footer input[type=submit]:focus,
.gform_wrapper.gravity-theme .gform_page_footer input[type=submit]:focus{
  transform: scale(1.05);
}
.gform_wrapper.gravity-theme .gfield select{
  border: 1px solid #e5e7eb;
  border-radius: .25rem;
  padding: 8px;
  color: #647280;
  transition: all 0.5s ease-in-out;
}
.gform_wrapper.gravity-theme .gfield select:focus-visible{
  outline: none;
}
.gfield_consent_description{
    margin-bottom: 16px;
}
.gform_wrapper.gravity-theme .gfield_description{
    font-size: 0.75rem !important;
    color: #445F82;
}
#gfield_description_1_18{
    color: #D57F7F;
}
/* Gravity Forms End */
